section#about.section.scrollspy
  h3.page-title.white-text.teal About
  .container.flow-text
    blockquote
      h2 Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.
    p
      | Gaby is a highly experienced and creative coder. He is spontaneous in his decisions and believes in body asleep mind awake. He would offer his help to any developer who in need for this help. If you give him a pc and put Pink Floyd music, he will write the best code.
    p
      | As a bug fixer and a mentor, He intend to use his obsessive attention to detail, his unequivocal love for making things, and his mission-driven work ethic to literally change the world.
    p #[strong I want to do things that make a difference].
