section#contact.section.scrollspy.full-height
  h3.page-title.white-text.teal Contact
  .container
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='mailto:info@gabykaram.com',
      data-position='top', data-tooltip='Email Gaby')
        i.fa.fa-envelope
        a.hoverline(href='mailto:info@gabykaram.com', target='_blank') info@gabykaram.com
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://github.com/gk-git',
      target='_blank', data-position='top', data-tooltip='View Gaby on GitHub')
        i.fa.fa-github
        a.hoverline(href='http://github.com/gk-git', target='_blank') github.com/gk-git
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://linkedin.com/in/gabykaram',
      target='_blank', data-position='top', data-tooltip='View Gaby on LinkedIn')
        i.fa.fa-linkedin
        a.hoverline(href='http://linkedin.com/in/gabykaram', target='_blank') linkedin.com/in/gabykaram
