section#education.section.scrollspy
  h3.page-title.white-text.teal Education
  .container
    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.codi.tech', rel="noopener", target='_blank') Codi Tech
            p.brown-text Beirut, LB | April 2017 - Nov 2017
            ul
              li Full Stack Development Program - Certified by Simplon
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.gwu.edu', rel="noopener", target='_blank') Arts, Sciences and Technology University
            p.brown-text Kaslik, LB | 2013 - 2017
            ul
              li B.S. in Computer Science
