section#education.section.scrollspy
  h3.page-title.white-text.teal Education
  .container
    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.codi.tech', target='_blank') Codi
            p.brown-text Beirut, LB | April 2017 - To date
            ul
              li Full Stack Development Program - Certified by Simplon
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.gwu.edu', target='_blank') AUL University
            p.brown-text Kaslik, LB | 2013 - 2017
            ul
              li B.S. in Computer Science
