section#experience.section.scrollspy
    h3.page-title.white-text.teal Experience
    .container

        //- Codi Studio - Developer & Digital Producer
        .card
            .card-content
                .row
                    .col.s12.m2
                        a(href='https://codi.tech', target='_blank')
                            img.responsive-img.center-block(alt='Codi logo', src='static/img/codi-logo.svg')
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://codi.tech', target='_blank') Codi Tech
                .role.brown-text Trainer & Project manager
                p
                    em.grey-text Free school of programming for people who have a passion for digital and
                        | want to build a career in technology but cannot pursue a traditional university education.
                ul
                    li Creating exercise
                    li Mentoring students on there path during the programme
                    li Managing Codi website
                    li Managing Codi internal project
            .card-action
                span Dec 2017 - Present  |  Gemmayze, LB
       
        //- Codi Studio - Developer & Digital Producer
        .card
            .card-content
                .row
                    .col.s12.m2
                        a(href='https://codi.tech', target='_blank')
                            img.responsive-img.center-block(alt='Codi Studio logo', src='static/img/codi-logo.svg')
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://codi.tech', target='_blank') Codi Studio
                .role.brown-text Full-Stack Developer & Digital Producer
                p
                    em.grey-text Digital / Tech studio which focuses on designing and delivering digital products for
                        | clients across Europe and MENA region.
                ul
                    li Take briefs from clients
                    li Plan project schedules
                    li Secure linux servers and deploy projects
                    li Highlight any issues and strive to resolve them
                    li Verify, prioritize, and fix software bugs
                    li Build new features
                    li Deployed Redmine on private server
                    li Stack: PHP / WordPress / React / SQL / Javascript / Sass
            .card-action
                span Dec 2017 - Present  |  Gemmayze, LB

        //- INBOUND HORIZON - Software Developer
        .card
            .card-content
                .row
                    .col.s12.m2
                        a(href='https://inboundhorizons.com', target='_blank')
                            img.responsive-img.center-block(alt='INBOUND HORIZON logo', src='static/img/inbound-horizons-lebanon.jpeg')
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://inboundhorizons.com', target='_blank') INBOUND HORIZON
                .role.brown-text Full-Stack Web & Mobile Developer
                p
                    em.grey-text American Digital/Online Marketing Agency
                h6 Develop Core Product
                ul
                    li Verify, prioritize, and fix software bugs
                    li Build new features.
                    li Stack: PHP / WordPress / SQL / Coffeescript / jQuery / Sass / Hybrid App
                h6 Accomplishments
                ul
                    li Developed a mobile app using Onsen UI and Monaca
                    li Built a quiz game for a church with admin panel using vanilla PHP
                    li Introduced to JIRA software and Agile methodology
            .card-action
                span Jan 2016 - Aug 2016  |  Hazmieh, LB
