section#experience.section.scrollspy
    h3.page-title.white-text.teal Experience
    .container

        //- INBOUND HORIZON - Software Developer
        .card
            .card-content
                .row
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='http://inboundhorizons.com', target='_blank') INBOUND HORIZON – LB
                .role.brown-text Software Developer Intern
                p
                    em.grey-text American Digital/Online Marketing Agency
                h6 Develop Core Product
                ul
                    li Verify, prioritize, and fix software bugs
                    li Build new features.
                    li Stack: PHP / WordPress / SQL / Coffeescript / jQuery / Sass / Hybrid App
                h6 Accomplishments
                ul
                    li Developed a mobile app using Onsen UI and Monaca
                    li Built a quiz game for a church with admin panel using vanilla PHP
                    li Introduced to JIRA software and Agile methodology
            .card-action
                span Jan 2016 - Aug 2016  |  Hazmieh, LB

        //- Codi Studio - Developer & Digital Producer
        .card
            .card-content
                .row
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='http://codi.tech', target='_blank') Codi Studio – LB
                .role.brown-text Developer & Digital Producer
                p
                    em.grey-text digital / tech studio which focuses on designing and delivering digital products for
                        | clients across Europe and MENA.
                h6 Develop Core Product
                ul
                    li Take briefs from clients
                    li Plan project schedules
                    li Highlight any issues and strive to resolve them
                    li Verify, prioritize, and fix software bugs
                    li Build new features.
                    li Stack: PHP / WordPress / SQL / Javascript / Sass
                //
                    h6 Accomplishments
                    ul
                        li Developed a mobile app using Onsen UI and Monaca
                        li Introduced to JIRA software and Agile methodology
            .card-action
                span Jan 2016 - Aug 2016  |  Hazmieh, LB
