section#projects.section.scrollspy
    h3.page-title.white-text.teal Projects
    .container
        .row
            // BOT
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/bot.svg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Dribbling LB
                            i.mdi-navigation-more-vert.right
                        p BOT (Building Opportunities Today) is a socially responsible outsourcing platform.
                        | BOT offers digital opportunities to economically marginalized women and youth whom reside in
                        | all parts of Lebanon.
                    .card-reveal
                        span.card-title.brown-text Accomplishments
                            i.mdi-navigation-close.right
                        ul
                            li Developed using WordPress PHP framework
                            li Theme edit under child theme.
                            li Adding special icons as css icon not image.

                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://bo.today/', rel="noopener", target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link
            // Dribbling LB
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/dribbling-lb.jpg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Dribbling LB
                            i.mdi-navigation-more-vert.right
                        p Lebanese Basketball News Online BMobile-focused web app where users can explore, collect, and share skate spots.log
                    .card-reveal
                        span.card-title.brown-text Accomplishments
                            i.mdi-navigation-close.right
                        ul
                            li Transformed The website from vanilla PHP to Laravel in 24 hour
                            li Developed the Back-end
                            li Created Back-end
                            li Refactored all existing code (#[strong Laravel])
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://dribbling-lb.com/', rel="noopener" , target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link
            // Cook For Syria
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/cookforsyria.jpg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Cook For Syria
                            i.mdi-navigation-more-vert.right
                        p A celebration of Syrian cuisine in aid of the largest humanitarian crisis of our time.
                    .card-reveal
                        span.card-title.brown-text Accomplishments, within a team
                            i.mdi-navigation-close.right
                        ul
                            li Managed Website Localisation
                            li Integrated a detection system for user's #[strong Countries]
                            li Designed in #[strong CSS Grid] without #[strong Bootstrap]
                            li Handled Server transfer without loosing emails
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://cookforsyria.com/', rel="noopener" , target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link

            // Acmaved Lebanon
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/acmaved.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Acmaved Lebanon
                            i.mdi-navigation-more-vert.right
                        p commercial company specializing primarily in marketing veterinary drugs. vaccines and poultry equipment.
                    .card-reveal
                        span.card-title.brown-text Accomplishments
                            i.mdi-navigation-close.right
                        ul
                            li Front-end development in #[strong Bootstrap]
                            li Contributed creative strategy and UX
                            li Worked with #[strong MVC] framework, #[strong Laravel] server
                        span Freelance at
                            a(href='https://jkbeirut.com')  jkbeirut.com
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://acmavedlebanon.com/', rel="noopener" , target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link

            // Al Buna
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/buna.jpg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Al Buna
                            i.mdi-navigation-more-vert.right
                        p Al Buna is a real estate and construction company specializing in real estate investment and touristic development
                    .card-reveal
                        span.card-title.brown-text Accomplishments
                            i.mdi-navigation-close.right
                        ul
                            li Front-end development in #[strong Bootstrap]
                            li Contributed creative strategy and UX
                            li Worked with #[strong MVC] framework, #[strong Laravel] server
                            li #[strong Dynamic CSS] color coding
                        span Freelance at
                            a(href='https://jkbeirut.com' , rel="noopener" )  jkbeirut.com
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://ri-wifi.herokuapp.com', rel="noopener" , target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link

            // Security Door with Facial Recognition
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/facialrecog.jpg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Security Door with Facial Recognition
                            i.mdi-navigation-more-vert.right
                        p Open door depending on user picture. Automate and control who can enter your house from mobile, and
                    .card-reveal
                        span.card-title.brown-text Accomplishments
                            i.mdi-navigation-close.right
                        ul
                            li Added Mobile app developed using #[strong Ionic 3]
                            li Image upload to Microsoft API #[strong AZURE]
                            li #[strong IoT] Communication betwen mobile app and raspberry pi
                            li Mobile App User Authentication with #[strong Laravel API]
                            li Used Microsoft starter facial recognition desktop app
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='https://github.com/gk-git/face-recognition-mobile-app', rel="noopener" , target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
            // AUL-Kaslik | Mobile App
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/aul.jpg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline AUL-Kaslik | Mobile App #[strong (Version 1)]
                            i.mdi-navigation-more-vert.right
                        p Mobile app that helps Students to checks exams schedule, events and much more.
                    .card-reveal
                        span.card-title.brown-text Accomplished within a Team of 2
                            i.mdi-navigation-close.right
                        ul
                            li Developed the app using #[strong Ionic 1]
                            li #[strong API] using vanilla PHP
                            li #[strong Google Maps API] integration
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='https://play.google.com/store/apps/details?id=com.ionicframework.aullkaslik480745', rel="noopener" , target='_blank', data-position='top', data-tooltip='View On Play store')
                                i.fa.fa-external-link
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='https://itunes.apple.com/lb/app/aul-kaslik/id1167612531?mt=8', rel="noopener" , target='_blank', data-position='top', data-tooltip='View On Apple store')
                                i.fa.fa-external-link
            // AUL-Kaslik | Mobile App
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='static/img/beity_logo.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Beity Lebanese Restaurant | France
                            i.mdi-navigation-more-vert.right
                        p Restaurant website to show of menu item and facilitate the customers experience.
                    .card-reveal
                        span.card-title.brown-text Accomplished within a Team of 2
                            i.mdi-navigation-close.right
                        ul
                            li Front-end development in #[strong Bootstrap]
                            li Designed and developed the look and feel of the website
                            li Worked with #[strong MVC] framework, #[strong Laravel] server
                        span Freelance at
                            a(href='https://jkbeirut.com', rel="noopener" )  jkbeirut.com
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(href='http://beity.jkbeirut.co', rel="noopener" , target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link
