section#skills.section.scrollspy
    h3.page-title.white-text.teal Skills
    .container

        //- HTML
        .card
            .card-content
                h4.brown-text.light HTML
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/html5.png', alt="HTML5")
                        | HTML5
                    .col.s4.m2
                        img.responsive-img(src='static/img/jade.png', alt="Jade")
                        | Pug(Jade)

        //- CSS
        .card
            .card-content
                h4.brown-text.light CSS
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/css3.png', alt="CSS3")
                        | CSS3
                    .col.s4.m2
                        img.responsive-img(src='static/img/sass.png', alt="SASS")
                        | SASS
                    .col.s4.m2
                        img.responsive-img(src='static/img/stylus.png', alt="STYLUS")
                        | STYLUS
                    .col.s4.m2
                        img.responsive-img(src='static/img/bootstrap.png', alt="Bootstrap")
                        | Bootstrap


        //- Javascript
        .card
            .card-content
                h4.brown-text.light Javascript
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/react.png', alt="React")
                        | React
                    .col.s4.m2
                        img.responsive-img(src='static/img/jquery.png', alt="jQuery")
                        | jQuery
                    .col.s4.m2
                        img.responsive-img(src='static/img/javascript.png', alt="Javascript")
                        | Javascript
                    .col.s4.m2
                        img.responsive-img(src='static/img/angular.png', alt="Angular")
                        | Angular
                    .col.s4.m2
                        img.responsive-img(src='static/img/nodejs.png', alt="Node")
                        | Node
                    .col.s4.m2
                        img.responsive-img(src='static/img/ionic.png', alt="Ionic")
                        | Ionic

        //- Back-End
        .card
            .card-content
                h4.brown-text.light Back-End
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/laravel.png', alt="Laravel")
                        | Laravel
                    .col.s4.m2
                        img.responsive-img(src='static/img/nodejs.png', alt="NodeJs")
                        | Node
                    .col.s4.m2
                        img.responsive-img(src='static/img/mysql.png', alt="MySQL")
                        | MySQL
                    .col.s4.m2
                        img.responsive-img(src='static/img/java.png', alt="Java")
                        | Java

        //- Build Tools
        .card
            .card-content
                h4.brown-text.light Build Tools
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/webpack.png', alt="Webpack")
                        | Webpack


        //- CMS
        .card
            .card-content
                h4.brown-text.light CMS
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/wordpress.png', alt="WordPress")
                        | WordPress
                    .col.s4.m2
                        img.responsive-img(src='static/img/keystonejs.jpg', alt="Keystone Js")
                        | Keystone Js

        //- CMS
        .card
            .card-content
                h4.brown-text.light API
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/firebase.png', alt="Firebase")
                        | Firebase
                    .col.s4.m2
                        img.responsive-img(src='static/img/google.jpeg', alt="Google API's")
                        | Google API's


        //- Other
        .card
            .card-content
                h4.brown-text.light Other
                .row.text-center
                    .col.s4.m2
                        img.responsive-img(src='static/img/github.png', alt="Github")
                        | Github
                    .col.s4.m2
                        img.responsive-img(src='static/img/photoshop.png', alt="Photoshop")
                        | Photoshop
                    .col.s4.m2
                        img.responsive-img(src='static/img/illustrator.png', alt="Illustrator")
                        | Illustrator
