doctype
html(lang="en")
  head
    include global/head
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WGD2LPR' height='0' width='0' style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    include global/nav
    // Main Content
    main
      include sections/intro
      include sections/about
      include sections/experience
      include sections/projects
      include sections/skills
      include sections/education
      include sections/contact
    include global/foot
